
@{
    ViewData["Title"] = "Authorized";
}

<h1 class="d-flex justify-content-center m-5 text-danger ">Sorry, You aren't Authorized To access this page</h1>

<a class=" d-flex justify-content-center btn btn-outline-dark w-25" asp-controller="Products" asp-action="Index">Back To All Products</a>