@{
    ViewData["Title"] = "NullException";
}

<h1 class="d-flex justify-content-center m-5 text-danger ">Oops! There are no Products in selected category ... <br></br>Please try again leter or select other</h1>

<a class=" d-flex justify-content-center btn btn-outline-dark w-25" asp-controller="Products" asp-action="Index">Back To All Products</a>